body    {
    background-color: #dfdac9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1  {
    color: #272732;
    text-align: center;
}
caption {
    color: #272732;
    text-align: center;
}
p {
    color: #272732;
    text-align: center;
}